html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}




/* aside all */

aside {
    background: #f7cd006b;
    width:255px;
    position: fixed;
    height:100%;
}

section {
    margin-left:255px;
}

section .top-line {
    width:100%;
    background: #f7cd006b;
    height:40px;
    padding-left:10px;
}

section .wrapper {
    padding: 10px;
    width: 100%;
    overflow: hidden;
}

.logo {
    background: #f7cd00;
    padding: 10px;
    text-align: center;
    width: 100%;
    overflow: hidden;
    height:40px;
}

.logo a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 1px #505050;
}

.user-block {
    width: 100%;
    height: auto;
    margin-top: 20px;
    overflow: hidden;
    border-bottom:1px solid #fff;
}

.user-block .user-thumb {
    width: 75px;
    height: 75px;
    overflow: hidden;
    position: relative;
    margin: auto;
}

.user-block .user-thumb img {
    max-width: 100%;
    max-height: 100%;
}

.user-block .user-info {
    position: relative;
    width: 100%;
}

.user-block .user-info p.name {
    margin: 10px auto;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #505050;
}

ul.sitemap {
    margin-top: 10px;
    padding: 0;
}

ul.sitemap li.sitemap-item {
    overflow: hidden;
    background: #3ac9ff;
    margin-top: 5px;
}

ul.sitemap li.sitemap-item a.sitemap-link,
ul.sitemap li.sitemap-item button.sitemap-link {
    padding: 10px;
    display: block;
    background: #f7cd00;
    margin-left: 10px;
    color: #2e2e2e;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    width: 100%;
    text-align: left;
    outline: none;
    transition: 150ms;
}

ul.sitemap li.sitemap-item a.sitemap-link:hover,
ul.sitemap li.sitemap-item button.sitemap-link:hover {
    background: #3e3e3e;
    color: #fff;
}

.sidebar span.copyright {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 10px;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    color: #6f6f6f;
}

/* #sidebar editor */

.m-0 {
    margin: 0 !important;
}

.p-0 {
    padding: 0 !important;
}

.auto_list {
    display: block;
    margin-top: 20px;
}

.auto_list table tbody tr:hover {
    background: linear-gradient(to left, white,#fcea94);
}

table a.auto_link {
    display: block;
    width: 100%;
    height:100%;
    text-decoration: none !important;
}

table a.auto_link:hover {
    color: red
}

.main-p-nav, .main-p-footer {
    background-color: #f7cd00;
}

.main-p-nav a.navbar-brand {
    color: #000;
    font-size: 2em;
}

.main-p-body {
    background-color: #f7cd006b;
}